{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "extends": [
    "@nuxtjs",
    "prettier",
    "plugin:nuxt/recommended"
  ],
  "rules": {
    "vue/component-definition-name-casing": ["error", "PascalCase"],
    "vue/html-closing-bracket-spacing": ["error", {
      "selfClosingTag": "never"
    }],
    "vue/singleline-html-element-content-newline": [
      "error", {
      "ignoreWhenNoAttributes": true,
      "ignoreWhenEmpty": true
    }],
    "vue/component-name-in-template-casing": [
      "error", "kebab-case",
      {
        "registeredComponentsOnly": false
      }
    ],
    "vue/html-self-closing": [
      "error", {
      "html": {
        "void": "never",
        "normal": "always",
        "component": "always"
      },
      "svg": "always",
      "math": "always"
    }],
    "vue/html-indent": [
      "error", 2, {
      "alignAttributesVertically": true
    }],
    "vue/script-indent": [
      "error", 2, {
      "baseIndent": 1,
      "switchCase": 1
    }],
    "vue/max-attributes-per-line": [
      "error", {
      "singleline": {
        "max": 1
      },
      "multiline": {
        "max": 1
      }
    }],
    "vue/prop-name-casing": [
      "error", "camelCase"
    ],
    "vue/attributes-order": [
      "error"
    ],
    "vue/attribute-hyphenation": [
      "error", "always"
    ],
    "arrow-parens": [
      "error", "as-needed"
    ],
    "semi": [2, "always",
      {
        "omitLastInOneLineBlock": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off"
      }
    }
  ]
}
