{
  "*.{js,vue}": [
    "eslint --fix --ext \".js,.vue\" --ignore-path .gitignore .",
    "git add"
  ],
  "*.{vue,scss,css}": [
    "stylelint --fix \"**/*.{vue,scss,css}\" --ignore-path .gitignore",
    "git add"
  ]
}
