{
  "extends": [
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "./**/*.js",
    "./**/*.json"
  ],
  "defaultSeverity": "error",
  "rules": {
    "block-no-empty": true,
    "no-empty-source": null,
    "comment-no-empty": true,
    "indentation": [
      2,
      {
        "baseIndentLevel": 1
      }
    ],
    "declaration-block-semicolon-newline-after": "always",
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": true,
        "empty-line-between-groups": true
      }
    ]
  }
}
