$font-family-default: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif !default;

$line-height-default: 1 !default;

$font-size-default: 14px !default;

// ================================= Headers
$h1-size-default: 36px !default;
$h2-size-default: 30px !default;
$h3-size-default: 24px !default;
$h4-size-default: 18px !default;
$h5-size-default: 16px !default;
$h6-size-default: 14px !default;
